# Generating Synthetic PV Power Time Series

In [1]:
import os
import pandas as pd
import pvlib

In [26]:
dir = 'data/final'

files = os.listdir(dir)
file = files[0]

df = pd.read_csv(os.path.join(dir, file))
df['timestamp'] = pd.to_datetime(df['timestamp'])
df.set_index('timestamp', inplace=True)

df.drop(['  QN_x', '  QN_y', '  QN'], axis=1, inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 79200 entries, 2023-05-26 00:00:00 to 2024-11-25 23:50:00
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STATIONS_ID    79200 non-null  int64
 1   PP_10          79200 non-null  float64
 2   TT_10          79200 non-null  float64
 3   TM5_10         79200 non-null  float64
 4   RF_10          79200 non-null  float64
 5   TD_10          79200 non-null  float64
 6   FF_10          79200 non-null  float64
 7   DD_10          79200 non-null  int64
 8   DS_10          79200 non-null  float64
 9   GS_10          79200 non-null  float64
 10  SD_10          79200 non-null  float64
 11  LS_10          79200 non-null  int64
 12  Stationshoehe  79200 non-null  float64
 13  geoBreite      79200 non-null  float64
 14  geoLaenge      79200 non-null  float64
dtypes: float64(12), int64(3)
memory usage: 9.7 MB

,STATIONS_ID,PP_10,TT_10,TM5_10,RF_10,TD_10,FF_10,DD_10,DS_10,GS_10,SD_10,LS_10,Stationshoehe,geoBreite,geoLaenge
timestamp,,,,,,,,,,,,,,,
2023-05-26 00:00:00,5629,1013.1,8.9,6.4,83.5,6.3,2.4,360,0.0,0.0,0.0,-999,105.0,51.8891,12.6446
2023-05-26 00:10:00,5629,1013.1,9.0,6.4,82.3,6.1,2.6,360,0.0,0.0,0.0,-999,105.0,51.8891,12.6446
2023-05-26 00:20:00,5629,1013.1,9.2,7.0,80.4,6.0,2.6,360,0.0,0.0,0.0,-999,105.0,51.8891,12.6446
2023-05-26 00:30:00,5629,1013.1,9.2,7.3,79.7,5.9,2.7,360,0.0,0.0,0.0,-999,105.0,51.8891,12.6446
2023-05-26 00:40:00,5629,1013.2,9.3,7.6,79.5,5.9,2.6,360,0.0,0.0,0.0,-999,105.0,51.8891,12.6446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-25 23:10:00,5629,997.8,11.7,9.8,70.2,6.5,2.4,260,0.0,0.0,0.0,-999,105.0,51.8891,12.6446
2024-11-25 23:20:00,5629,997.9,11.9,10.2,70.1,6.6,3.1,270,0.0,0.0,0.0,-999,105.0,51.8891,12.6446
2024-11-25 23:30:00,5629,998.1,11.8,10.4,73.4,7.2,3.4,270,0.0,0.0,0.0,-999,105.0,51.8891,12.6446
2024-11-25 23:40:00,5629,998.3,11.6,10.3,76.2,7.6,2.8,270,0.0,0.0,0.0,-999,105.0,51.8891,12.6446
2024-11-25 23:50:00,5629,998.4,11.3,9.6,78.5,7.7,2.0,260,0.0,0.0,0.0,-999,105.0,51.8891,12.6446