# WindPowerLib

In [1]:
import windpowerlib
from windpowerlib import data as wt

In [2]:
df = wt.get_turbine_types(print_out=False)

In [3]:
df

   manufacturer turbine_type  has_power_curve  has_cp_curve
0   Adwen/Areva   AD116/5000             True         False
1       Enercon   E-101/3050             True          True
2       Enercon   E-101/3500             True          True
3       Enercon   E-115/3000             True          True
4       Enercon   E-115/3200             True          True
..          ...          ...              ...           ...
62       Vestas     V80/2000             True         False
63       Vestas     V90/2000             True          True
64       Vestas  V90/2000/GS             True          True
65       Vestas     V90/3000             True         False
66      aerodyn  SCD168/8000             True         False

[67 rows x 4 columns]